body {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  width: 1000px;
  background-color: #fff;
  min-height: 100vh;
  font-size: 24px;
  padding-bottom: 100px;
}

.title {
  height: 120px;
  line-height: 120px;
  text-align: center;
  background-color: #0eb3e0;
  vertical-align: center;
  color: white;
  font-size: 40px;
}

.input {
  width: 500px;
  height: 40px;
  margin-left: 10px;
  font-size: 22px;
  outline-style: none;
  border-bottom: 1px solid;
  margin-right: 15px;
  position: relative;
  bottom: 7px;
}

.input[type='text'] {
  border: none;
  border-bottom: 1px solid;
  background-color: #fff2be;
}

#line {
  background: url(../images/line.png);
  height: 5px;
}

.color-red {
  background-color: transparent;
  color: red;
}

button {
  cursor: pointer;
}

.s0Box {
  text-align: center;
  margin-top: 100px;
}

.s1Box {
  padding-top: 30px;
}

.s1Box:first-child {
  line-height: 30px;
}

.s1BtnBox {
  margin: 20px 0px;
}

.btnBoxIn {
  margin-left: 50px;
  margin-bottom: 20px;
}

.btnBoxIn div {
  display: inline-block;
  vertical-align: top;
}

.btnBoxIn button {
  border-radius: 16px;
  height: 32px;
  width: 32px;
  /* border: revert; */
  margin-bottom: 5px;
  background-color: #3e6b66;
  color: #fefe00;
  font: 400 16px Arial;
  padding: 1px 6px;
}

.buttonNo1 {
  padding: 2px 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 400 16px Arial;
}

.s1Text {
  margin-left: 20px;
  width: 85%;
  line-height: 30px;
}

.s2Box {
  text-align: center;
  margin-top: 50px;
}

.s2pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.s2pic div {
  width: 100px;
}

.s2pic img {
  width: 50px;
}

.s2ppl div {
  display: inline-block;
}

.s3Pic {
  float: right;
  margin-top: 18px;
}

.s3in2Title {
  text-align: left;
  margin: 30px auto;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 30px;
}

.s3in2Title div:nth-child(1) {
  width: 160px;
  text-align: right;
}

.s3in2BtnBox {
  text-align: center;
}

.s3in2BtnBox button {
  margin: 0 10px;
}

.s3in2Title div:nth-child(2) {
  font-size: 24px;
}

.s3Btn1 {
  background: transparent;
  border: none;
}

.s3Box {
  text-align: center;
  margin-top: 20px;
}

.s3Box ul {
  margin-bottom: 20px;
}

.s3in1Box div {
  display: inline;
}

.s3in1Box li {
  margin-bottom: 20px;
}

.s3in1Box li:last-child {
  margin-bottom: 50px;
}

.s3qBox {
  margin-top: 30px;
}

.s3qBox button {
  border: none;
  background-color: transparent;
  margin: 10px 0;
}

.s3qInputBox {
  background-color: #fff2be;
  margin: 0 30px 30px 30px;
  border: 15px;
  padding: 30px;
}

.s3in2Box {
  text-align: center;
}

.s3in2Box img {
  width: 100px;
}

.s3in2Box input {
  width: 500px;
}

.s3in2List {
  text-align: left;
  padding: 0 30px;
  margin: 0 30px;
  background-color: #ffd17b;
  border-radius: 10px;
}

.s3in2List li {
  border-bottom: 1px solid #000;
  padding-bottom: 30px;
}

.s3in2List li:first-child {
  padding: 0;
  margin: 0;
  height: 2px;
  border-bottom: none;
}

.s3in2List li:last-child {
  border-bottom: none;
}

.s3in2List div {
  display: inline-block;
}

.s3in2List button {
  padding: 0;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  top: 15px;
}

.s3in2List img {
  width: 50px;
}

.recordBox {
  position: relative;
  bottom: 11px;
}

.recordBox button {
  margin-left: 30px;
}

.audio-react-recorder {
  height: 80px;
  visibility: hidden;
}

.s4Box {
  width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

.s4Title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.s4rule {
  margin: 20px 0;
}

.s4ex_text {
  margin-bottom: 20px;
}

.s4ex_text div {
  display: inline;
}

.s4ex_text div:nth-child(2) {
  color: red;
}

.s4ex_an {
  margin-bottom: 30px;
}

.s4_answerAreaOutBox {
  position: relative;
  top: 15px;
}

.s4_answerArea {
  background-color: #fff0ae;
  border-radius: 15px;
  padding: 15px;
}

.s4_qu {
  margin-bottom: 15px;
}

.s4Btn_send {
  font-size: 16px;
  padding: 10px;
}

.s4list {
  background-color: #fdd791;
  border-radius: 15px;
  margin: 20px 0;
  padding-top: 5px;
}

.s4list li {
  margin: 0 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
}

.s4list li div {
  margin-top: 10px;
}

.s4list :last-child {
  border: none;
}

.s4AnText {
  padding-left: 34px;
}

.s4AnText div {
  display: inline;
}

.s4AnText img {
  float: right;
}

.s4NextQu {
  text-align: center;
  margin: 20px 0;
}

.s4AnNo {
  padding-right: 2px;
  width: 32px;
  text-align: right;
}

.s4pic {
  text-align: center;
  margin-top: 20px;
}

.hide {
  visibility: hidden;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.audioFunc,
.audioStop {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  border: none;
  margin-right: 8px;
  padding: 0;
  position: relative;
  top: 16px;
  background-color: transparent;
}

.sound-wave {
  height: 0;
  width: 0;
}

.audioFunc {
  background-image: url("../images/play_1.png");
}

.audioStop {
  background-image: url("../images/paused_1.png");
}

.audioFunc:hover {
  background-image: url("../images/play_1_hover.png");
}

.s4An div {
  display: inline-block;
}

.s4PicBox img {
  width: 70px;
  position: relative;
  bottom: 15px;
}

.noBorder {
  border: none;
  background-color: transparent;
}

.noBorder img {
  width: 80px;
}

.halfOpacity {
  opacity: 0.5;
}

.table {
  display: table;
  width: 100%;
}

.tableBody {
  display: table-row-group;
  border-collapse: collapse;
}

.tableRow {
  display: table-row;
}

.tableCell {
  display: table-cell;
}

.tableCell2 {
  display: table-cell;
  background-color: violet;
  height: 100%;
}

.h400 {
  height: 400px;
}

.alignCenter {
  text-align: center;
}

.s2BlankSpace {
  width: 30px;
}

/*buttons*/
.btnBegin {
  background-image: url(./images/buttons/begin.png);
  background-repeat: no-repeat;
  border: none;
  background-size: 231.2px 72.2px;
  width: 231.2px;
  height: 72.2px;
  background-color: transparent;
  cursor: pointer;
}

.btnSame {
  background-color: #fcd000;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.btnNo2 {
  padding: 0 20px;
  height: 60px;
  font-size: 36px;
}

.btnNo3 {
  height: 40px;
  font-size: 24px;
  padding: 0 20px;
  margin: 0 15px;
}

.btnNo4 {
  height: 40px;
  font-size: 24px;
  padding: 0 20px;
  margin-top: 15px;
}

.btnNo5 {
  height: 40px;
  font-size: 24px;
  padding: 0 10px;
}

.btnRecord,
.btnRecording {
  background-image: url(../images/buttons/record.png);
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 33px 56px;
  width: 33px;
  height: 56px;
  cursor: pointer;
}

.btnRecording {
  background-image: url(../images/buttons/recording.png);
}

.btnStopRecord,
.btnStopRecordNotActive {
  background-image: url(../images/buttons/stopRecord.png);
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 67px 57px;
  width: 67px;
  height: 57px;
  cursor: pointer;
}

.btnStopRecordNotActive {
  opacity: 0.5;
  cursor: auto;
}

.btnPlay,
.btnPlayNotReady {
  background-image: url(../images/buttons/playRecord.png);
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  position: relative;
  background-size: 34px 57px;
  width: 34px;
  height: 57px;
  cursor: pointer;
  top: 1;
}

.btnPlayNotReady {
  opacity: 0.5;
  cursor: auto;
}

.btnAbDisplay,
.btnChDisplay {
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-size: 30px;
  width: 30px;
  height: 30px;
}

.btnAbDisplay {
  background-image: url(../images/buttons/abDisplay.png);
}

.btnChDisplay {
  background-image: url(../images/buttons/chDisplay.png);
}

.s2DialogPic {
  width: 112.22222px;
  position: relative;
  bottom: 150px;
}

.s2DialogPicHide {
  opacity: 0;
  width: 112.22222px;
  position: relative;
}

.s2BtnBox {
  margin-top: 50px;
}

.AriaMenuButton {
  display: inline-block;
  position: relative;
}

.AriaMenuButton-trigger {
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #EEE;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#EEE));
  background-image: linear-gradient(#FCFCFC, #EEE);
  border: 1px solid #D5D5D5;
  border-radius: 3px;
  font-weight: bold;
  padding: 6px 10px;
}

.AriaMenuButton-trigger::after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  position: relative;
  top: 3px;
  border-color: currentColor transparent transparent;
  border-width: 5px 4px;
  border-style: solid;
}

.AriaMenuButton-trigger:hover,
.AriaMenuButton-trigger:focus,
.AriaMenuButton-trigger.is-open {
  background-color: #DDD;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#DDD));
  background-image: linear-gradient(#EEE, #DDD);
  border-color: #CCC;
}

.AriaMenuButton-trigger:active,
.AriaMenuButton-trigger.is-open {
  background-color: #DCDCDC;
  background-image: none;
  border-color: #B5B5B5;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.AriaMenuButton-menu {
  background: #fff;
  border: 1px solid rgba(200, 200, 200, 0.4);
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  z-index: 99;
  border-radius: 3px;
  margin: 4px 0 0 0;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.AriaMenuButton-menu--flushRight {
  right: 0;
}

.AriaMenuButton-menuItem {
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #EEE;
}

.AriaMenuButton-menuItemWrapper:first-of-type .AriaMenuButton-menuItem {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.AriaMenuButton-menuItemWrapper:last-of-type .AriaMenuButton-menuItem {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.AriaMenuButton-menuItem:hover,
.AriaMenuButton-menuItem:focus {
  background-color: #4183C4;
  color: #fff;
}

.AriaMenuButton-menuItem.is-selected {
  cursor: default;
  font-weight: bold;
}

/* FANCY */
.FancyMB {
  position: relative;
  display: inline-block;
}

.FancyMB-trigger {
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #fff;
  color: #000;
  border: 1px solid #868686;
  border-radius: 6px;
  padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.FancyMB-trigger:hover,
.FancyMB-trigger:focus {
  background: #C9F1FF;
}

.FancyMB-trigger::after {
  content: "";
  display: inline-block;
  margin-left: 20px;
  position: relative;
  top: 3px;
  border-color: currentColor transparent transparent;
  border-width: 5px 5px;
  border-style: solid;
}

.FancyMB-menu {
  background: #fff;
  border: 1px solid #ccc;
  list-style-type: none;
  padding-left: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  margin: 2px 0 0 0;
  width: 100%;
  max-width: 200px;
}

.FancyMB-menu::before {
  border: inset 6px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFF rgba(0, 0, 0, 0);
  border-bottom-style: solid;
  position: absolute;
  top: -12px;
  left: 10px;
  z-index: 89;
}

.FancyMB-menu::after {
  border: inset 7px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ccc rgba(0, 0, 0, 0);
  border-bottom-style: solid;
  position: absolute;
  top: -14px;
  left: 9px;
  z-index: 88;
}

.FancyMB-menuItem {
  cursor: pointer;
  color: #555;
  padding: 0.5rem;
}

.FancyMB-menuItem:hover,
.FancyMB-menuItem:focus {
  background: #EEE;
}

.FancyMB-menuItem.is-selected {
  cursor: default;
  font-weight: bold;
}

.FancyMB-menu {
  width: 250px;
  max-width: 250px;
}

.FancyMB-menuItem::after {
  content: '';
  display: table;
  clear: both;
}

.FancyMB-svg {
  float: left;
  width: 50px;
  margin-top: 2px;
}

.FancyMB-text {
  display: block;
  float: left;
  margin: 0 5px;
}

.FancyMB-keyword {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.FancyMB-triggerIcon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.FancyMB-triggerText {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.FancyMB-triggerSmallText {
  font-size: 10px;
  font-weight: normal;
}

.FancyMB-selectedText {
  margin-top: 1em;
}

/* transition */
.FancyMB-menu {
  -webkit-transform-origin: 10px 0;
  transform-origin: 10px 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.2s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}
